* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color:whitesmoke ;
  color: #001C30;
  text-align: center;
  padding-top: 100px;
  height:60vh;
}
header h1{
  font-size: 40px;
}
.typewriter{
  font-size: xx-large;
  padding-top: 6vh;
 
  
}
.btn-login-signup{
  
  margin-top: 6vh;
font-size: x-large;
}

.room-creation {
  background-color: #001C30;
  color:white;
  padding: 40px;
  line-height: 4.5vh;
}

.room-creation h2 {
  margin-bottom: 10px;
}

.room-creation p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 5vh;
}

.how-it-works ul {

  list-style-type:disc;
  margin-left: 5vh;
  font-size: 18px;
}

.features {
  background-color: whitesmoke;
  padding: 40px;
  line-height: 4.5vh;
}

.features h3 {

  margin-bottom: 20px;
}

.features ul {
  list-style-type: square;

  margin-left: 5vh;
  font-size: 18px;
}

.footer {
  text-align: center;
  padding: 40px;
  background-color: #001C30;

  color:white;
}

.footer h6{
  color: whitesmoke;
  font-size: large;
}

.disclaimer {
  font-size: 12px;
  margin-top: 20px;
}


 
 
 .navbar {
  height: 20vh;
  background-color: #001C30;
  color: white;
  display: flex;
 padding-right:5vw ;
  
 
} 

.logo {
  font-size: 30px;
  font-weight: bold;
  padding-left: 5vw;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
 
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}
.log{
  color: red;
  text-decoration: underline;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.home {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}



.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0px;
}

.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 25px;
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-link{
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}
.login-link:hover{
  background-color: white;
  color: #001C30;
}
.wrapper {
  width: 60vw;
  height: 75vh;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  border-radius: 20px;
}


.left,.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or{
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
}

.line{
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.loginButton{
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.google{
  background-color: #df4930;
}

.github{
  background-color: black;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input{
  width: 250px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit{
  width: 200px;
  
  background-color: #001C30;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}



.link{
  color: inherit;
  text-decoration: none;
}


.signup-link{
  margin-top:3vh;
  
}
.signup-link-btn{
  color: blue;
  margin-left: 5px;
  background-color: white;
  text-decoration: underline;
  border: 0px;
  padding: 5px;
  
}
.error-message{
  color: #df4930;
  font-size: larger;
}
.add-room{
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 70px;
  width: 70px;
  border-radius: 19px;
  z-index: 2;
}
.add-member{
  position: fixed;
  bottom: 10px;
  right: 90px;
  height: 70px;
  width: 70px;
  border-radius: 19px;
  z-index: 2;
}
.edit-details{
  position: fixed; 
 bottom: 70vh;
  right: 16vw;
  height: 60px;
  width: 60px;
  border-radius: 19px;
}
.modal-header , .modal-footer{
  background-color: #001c30e5;
  color: white;
}
:placeholder-shown{
  opacity: 0.9;
}
.modal-close-btn{
  background-color: antiquewhite;
}
.error-message{
  color: #df4930;
  font-size: medium;
}
.room-table{
  margin: 3vh;
  padding: 10px;
  min-height: 72vh;
  -webkit-box-shadow: 0px 5px 33px -21px rgb(0, 0, 0);
  -moz-box-shadow: 0px 5px 33px -21px rgb(4, 4, 5);
  box-shadow: 0px 5px 33px -21px rgb(0, 0, 0);
  border-radius: 20px;
  
}
.room-image{
  margin-left: 5vw;
  background-color:black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
  font-size: 30px;
  font-family: 'monospace';
  
  border: #0D7377 solid 2px;
  font-weight: bold;
  color: azure;
}
.room-description{
  opacity: .7;
}
.room-name{
  color: #001C30;
  font-size: larger;
  font-weight: bolder;
}
.room-row:hover>td{
  translate: 5px 5px;
  transform: scale(4px,4px);
  color: #ee2603;
  
}

.total-expense{
  min-height: 10vh;
  margin-top: 10px;
  height: auto;
  padding: 4vh;
  background-color: #001C30;
  color: aliceblue;
  border-radius: 30px;
  font-size: larger;
  text-align: center;
}

.table  .date-cell{
  background-color: #001C30;
  border-radius: 30px;
  color: wheat;
  font-size:large;
  padding: 20px 0;
  text-align: center;
  width: 20vw;
}
.table .user-info .member-name{
  text-align: center;
  padding-left: 10px;
font-size: large;
font-weight: 450;
}
.overflow-table{
  height: 74.5vh;
  overflow-x:hidden; 
  overflow-y:auto;
  text-align: center;
}
.overflow-member-table{
  overflow-x:hidden; 
  overflow-y:auto;
  
  
}
.row-gap{
  height: 1vh;
}

.add-btn,.accept-btn, .reject-btn,.edit-btn,.delete-btn{
  background-color: transparent;
  border: 0;
}
.accept-btn:hover{
  border-radius: 30px;
  background-color: #0D7377;
}
.reject-btn:hover{
  border-radius: 20px;
  background-color:#df4930;
}
.burger{
  
  color: #ffffff;
  border: 3px solid #ffffff;
}
.offcanvas-footer{
  position: fixed;
  color: #ee2603;
  top:90vh;
  background-color: #001C30;
  height: 7vh;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
 font-size: larger;
}
.memu{
  margin: 0;
}
.menu-item{
  margin-left: -43px;
  padding: 20px;
  list-style: none;
  border-radius: 15px;
  width: 370px;
  background-color: #ffffff;
  
}
.menu-item:hover{
  background-color: rgba(104, 104, 104, 0.164);
}



.note-data{
  margin: 5px;
}
.add-expense-btn{
  margin-left: 46.5%;
}
.note-name {
  text-align: center;
  margin-bottom: 10px;
}
.expense-option{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.delete-btn{
  margin-left: 25px;
  
}
.room-name{
  margin:5px 20px;
}
.room-details{
  margin-right: 100vw;
}
.room-option{
 position: absolute;
 top: 20vh;
 right: 10px;
}

.leave-room{
  border: none;
  color: red;
  background-color: transparent;
}
.leave-room:hover{
  border: none;
  color: red;
  background-color: transparent;
  text-decoration:line-through;
}

.option-item{
  padding-right: 10px;
  margin: 2px;
  border-radius:10px ;
  text-align: center;
  font-size: initial;
}
.option-item:hover{
  background-color:rgba(167, 167, 167, 0.253);
}
.room-list-details{
  text-align: center;
  font-size:5rem;
  padding-top: 20vh;
  color:lightgray
}


.drop-menu{
  
background: whitesmoke;
border: #001C30 1px solid;
border-radius: 10px;
position: absolute;
top: 50px;
right: 0.5vw;
}
.drop-menu-list {
  list-style: none;
  padding-left: 0rem;
  padding-right: 1rem;
}
.date-container{
  margin: 3px;
  display: flex;
  justify-content: space-between;
}
.date-section{
  align-self: start;
  display: flex;
  margin-bottom: 3vh;
}
.form-container{
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  margin: 3vh 15vw;
  padding: 10px;
  min-height: 72vh;
  border-radius: 20px;
  
}

.user-avatar {
  margin-left: 5vw;
  margin-top: 1vh;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  object-fit: cover;
}
.basic-information{
  display: flex;
}
.user-name{
  margin-top: 10vh;
  margin-left: 3.5vw;
}
.user-bio{
  margin-top: 5px;
  margin-left: .9vw;
}
/* .user-name-container input {
  width: 30vw;
  height: 5vh;
} */
.other-details{
  margin: 5vh;
}
.change-password{
  background:transparent;
  border: none;
  color: blue;
  text-decoration: underline;
  margin-left: 75%;
}
.inforamtion{
  margin-top: 3vh;
  text-align: center;
}
.member-bio{
  margin-top: 1.5vh;
  margin-left: 3vw;
  font-size:smaller;
  text-align: center;
}
.note-conatainer{
  display: flex;
  justify-content: space-between;
}
.card-body{
  min-height: 13vh;
}
.note-delete{
  margin-top: -1.6vh;
}











@media screen and (max-width: 900px) {
  .wrapper {
    width: 65%;
    height: 90%;
    flex-direction: column;
  }
  
  .loginTitle {
    display: none;
  }
  
  .center {
    width: 100%;
    position: relative;
  }

  .left {
    padding: 20px;
  }

  .right {
    padding: 20px;
  }

  .line {
    height: 0.5px;
    width: 300px;
  }


.table  .date-cell{
  width: 35vw;
}
.room-creation ,.footer,.features{
  padding: 3vh;
}
.date-section{
display: block;
}
.form-container{
  margin: 2vh;
}
.basic-information{
  display: block;
}
.user-avatar{
  margin-left: 28%;
  margin-top: 2.5vh;
  width: 20vh;
  height: 20vh;
}
.user-name{
  margin-top: 5vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}
.user-bio,.other-details{
  margin-top: 10px;
  margin-left: -.5vw;
}
.other-details{
  margin: 0vh;
}
.edit-details{
  right: 30px;
}
}
